node_modules/*
examples/*
testcases/*
public/testem/chai.js
public/testem/jasmine-html.js
public/testem/jasmine.js
public/testem/jasmine2-boot.js
public/testem/jasmine2-html.js
public/testem/jasmine2.js
public/testem/mocha.js
public/testem/qunit.js
tests/fixtures/tape/public/bundle.js
tests/fixtures/firefox/custom_user.js
