# http://www.appveyor.com/docs/appveyor-yml

environment:
  matrix:
  - PHANTOM_SRC: "npm"
  - PHANTOM_SRC: "chocolatey"

# Install scripts. (runs after repo cloning)
install:
  # Get the latest stable version of nodejs
  - ps: Install-Product node 4
  - npm version
  - npm install
  - IF %PHANTOM_SRC%==npm npm install -g phantomjs
  - IF %PHANTOM_SRC%==chocolatey cinst PhantomJS -y
  - phantomjs -v

# Post-install test scripts.
test_script:
  - cmd: npm run testem-tests
  - cmd: npm run integration

# Don't actually build.
build: off

# Set build version format here instead of in the admin panel.
version: "{build}"
