<!doctype html>
<html>
<head>
<title>Test'em Runner</title>
<script src="/testem/jasmine.js"></script>
<script src="/testem.js"></script>
<script src="/testem/jasmine-html.js"></script>
<script>
  (function() {
    var jasmineEnv = jasmine.getEnv()
    jasmineEnv.addReporter(new jasmine.HtmlReporter)

    window.onload = function() {
      jasmineEnv.execute()
    };
  })();
</script>

{{#scripts}}<script src="{{.}}"></script>{{/scripts}}

<link rel="stylesheet" href="/testem/jasmine.css">
</head>
<body>
</body>
</html>
