<!doctype html>
<html>
<head>
  <title>Test'em</title>
  <script src="../node_modules/jasmine-core/lib/jasmine-core/jasmine.js"></script>
  <script src="../node_modules/jasmine-core/lib/jasmine-core/jasmine-html.js"></script>
  <script src="../node_modules/jasmine-core/lib/jasmine-core/boot.js"></script>
  <script src="/testem.js"></script>

  {{#scripts}}<script src="{{{src}}}"{{#attrs}} {{&.}}{{/attrs}}></script>{{/scripts}}

  <link rel="stylesheet" href="../node_modules/jasmine-core/lib/jasmine-core/jasmine.css">

  {{#styles}}<link rel="stylesheet" href="{{.}}">{{/styles}}
</head>
<body>
  <div id="jasmine_content"></div>
</body>
</html>
