<!doctype html>
<html>
<head>
  <title>Test'em</title>
  <script src="{{{jasmineJs}}}"></script>
  <script src="{{{jasmineHtml}}}"></script>
  {{#jasmineCoreV5}}
  <script src="/node_modules/jasmine-core/lib/jasmine-core/boot0.js"></script>
  <script src="/node_modules/jasmine-core/lib/jasmine-core/boot1.js"></script>
  {{/jasmineCoreV5}}
  {{^jasmineCoreV5}}
  <script src="{{{jasmineBoot}}}"></script>
  {{/jasmineCoreV5}}
  <script src="/testem.js"></script>

  {{#scripts}}<script src="{{{src}}}"{{#attrs}} {{&.}}{{/attrs}}></script>{{/scripts}}

  <link rel="stylesheet" href="{{{jasmineCss}}}">

  {{#styles}}<link rel="stylesheet" href="{{.}}">{{/styles}}
</head>
<body>
  <div id="jasmine_content"></div>
</body>
{{#footer_scripts}}<script src="{{{src}}}"{{#attrs}} {{&.}}{{/attrs}}></script>{{/footer_scripts}}
</html>
