<!doctype html>
<html>
<head>
<title>Test'em</title>
<script src="{{{qunitJs}}}"></script>
<script src="/testem.js"></script>
{{#scripts}}<script src="{{{src}}}"{{#attrs}} {{&.}}{{/attrs}}></script>{{/scripts}}
<link rel="stylesheet" href="{{{qunitCss}}}"/>
{{#styles}}<link rel="stylesheet" href="{{.}}">{{/styles}}
</head>
<body>
<div id="qunit"></div>
<div id="qunit-fixture"></div>
</body>
{{#footer_scripts}}<script src="{{{src}}}"{{#attrs}} {{&.}}{{/attrs}}></script>{{/footer_scripts}}
</html>
