<!doctype html>
<html>
  <head>
    <title>Testem + QUnit</title>
    <link rel="stylesheet" type="text/css" href="/node_modules/qunitjs/qunit/qunit.css">
    <script>
      var testSuite = [
      {{#serve_files}}
        '{{{src}}}',
      {{/serve_files}}
      ];
    </script>
    <script src="/node_modules/steal/steal.js" data-main="main" data-config="config.js"></script>
  </head>
  <body>
    <h1 id="qunit-header">Testem + Qunit Test Suite</h1>
    <h2 id="qunit-banner"></h2>
    <div id="qunit-testrunner-toolbar"></div>
    <h2 id="qunit-userAgent"></h2>
    <div id="test-content"></div>
    <ol id="qunit-tests"></ol>
    <div id="qunit-test-area"></div>
  </body>
</html>
