<html>
  <body>
    <script src="/testem.js"></script>
    <script>
    Testem.handleConsoleMessage = function(msg){
      Testem.emit('tap', msg)
      return false
    }
    </script>
    {{#serve_files}}
    <script src="/{{src}}"></script>
    {{/serve_files}}
  </body>
</html>
