name: CI

on:
  push:
    branches:
      - master
      - '0.6'
      - '0.8.x'
      - v*
  pull_request:

jobs:
  lint:
    name: lint
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v1
        with:
          node-version: 12
      - run: npm ci
      - run: npm run lint

  test:
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
        node: [8, 10, 12]
        exclude:
          - os: macos-latest
            node: 8
          - os: macos-latest
            node: 10
          - os: windows-latest
            node: 8
          - os: windows-latest
            node: 10
      fail-fast: true

    runs-on: ${{ matrix.os }}

    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v1
        with:
          node-version: ${{ matrix.node }}
      - run: npm ci
      - run: npm test
      - run: sudo apt-get install -y libgtk2.0-0
        if: runner.os == 'Linux'
      - name: npm run integration
        uses: GabrielBB/xvfb-action@v1.0
        with:
          run: npm run integration

  browser-tests:
    name: browser-tests
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v1
        with:
          node-version: 12
      - run: npm ci
      - run: npm run browser-tests
        env:
          SAUCE_USERNAME: testem-ci
          SAUCE_ACCESS_KEY: 1f00979e-0252-4d69-98ff-f6c85d1a746b
